{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Effordea Blogs</title>

  <!-- Favicon -->
  <link rel="icon" href="https://scontent.flhe7-1.fna.fbcdn.net/v/t1.0-9/21559103_1266420700170675_5040729221817232055_n.png?_nc_cat=106&_nc_sid=85a577&_nc_eui2=AeFHBqf9SkGUWFgUoAqa5PTdeo21FUq3nNh6jbUVSrec2KgbmZA1RO3V2_gxlpn2zYmZK-Md5FkqTPOrHu61r_a4&_nc_ohc=kr0F_YM_pTcAX998lYW&_nc_ht=scontent.flhe7-1.fna&oh=fb6b9d6e19f5446ab07c4ae0555bda4b&oe=5ED30AA0" type="image/jpg" sizes="225x225">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'entries/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'entries/css/blog-home.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand btn btn-warning text-dark" href="{% url 'blog-home' %}">Effordea Blogs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-warning" href="{% url 'blog-home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'create_entry' %}">Create New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" title="{{ user.username }}">{{ user.first_name}} {{ user.last_name }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-4">

       {% block content %} {% endblock %}

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Side Widget -->
        <div class="card my-4">
          <div class="card-body">
            <p class="text-center">copyright &copy; 2020 Effordea LLC</p>
            <p class="text-center">All Right Reserved</p>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'entries/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'entries/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
